@font-face {
    font-family: 'KafkaSerifText';
    src: url('fonts/kafkaseriftext-webfont.eot?#iefix') format('embedded-opentype');
    src: local('KafkaSerifText'), url('fonts/kafkaseriftext-webfont.woff') format('woff'), url('fonts/kafkaseriftext-webfont.ttf') format('truetype'), url('fonts/kafkaseriftext-webfont.svg#KafkaSerifTextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KafkaSerifText';
    src: url('fonts/kafkaseriftext-black-webfont.eot?#iefix') format('embedded-opentype');
    src: local('KafkaSerifText Bold'), url('fonts/kafkaseriftext-black-webfont.woff') format('woff'), url('fonts/kafkaseriftext-black-webfont.ttf') format('truetype'), url('fonts/kafkaseriftext-black-webfont.svg#KafkaSerifTextBlack') format('svg');
    font-weight: bold;
    font-style: normal;
}

.speech-gen {
    max-width: 750px;
}

.speech-gen .speech-gen__header {
    font: bold 24px/26px Arial, Helvetica, sans-serif;
    margin-top: 1.076em;
    margin-bottom: 0.538em;
}

.speech-gen .speech-gen__note,
.speech-gen .speech-gen__question,
.speech-gen .speech-gen__result,
.speech-gen .speech-gen__answer {
    font: normal 16px/22px "KafkaSerifText", "Times New Roman", Times, serif;

}

.speech-gen .speech-gen__note,
.speech-gen .speech-gen__question,
.speech-gen .speech-gen__result {
    margin-bottom: 1em;
}

.speech-gen .speech-gen__answer {
    margin: 0;
}


.speech-gen .speech-gen__row {
    display: none;
    opacity: 0;
    position: relative;

}

.speech-gen .speech-gen__radio {
    display: none;
}

.speech-gen .speech-gen__label {
    padding: 5px 10px 5px 30px;
    cursor: pointer;
    width: 611px;
    display: block;
    position: relative;
}


.speech-gen .speech-gen__label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 5px;
    top: 6px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4T2NkYGD4D8RkA0aqGfD/P2kOYWQE2c3AAHfBqAHAuBwNxOEQBuRmR4pzIwCWAjQBw+gPWAAAAABJRU5ErkJggg==") no-repeat;
}

.speech-gen .speech-gen__radio:checked + .speech-gen__label:before{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAb0lEQVQ4T2O80ML/n4ECwEg1A/SrP5DkjoutAmD1cBcMHQNATge5liwvwDSRZQCyZlDgYXUBzHno0YGuGa8BIEnkGMGmGacByBLI/sQWxXgDESaJ7hpkrxGMBVzhATOEoAGE0jWGAYQ04JKnODcCAIhkazE1sQboAAAAAElFTkSuQmCC") no-repeat;
}

.speech-gen .speech-gen__radio:checked + .speech-gen__label,
.speech-gen .speech-gen__label:hover {
    background: #f1a42e;
    color: #ffffff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.speech-gen .speech-gen__phrase {
    padding-top: 20px;
    font: normal 22px/26px Arial, Helvetica, sans-serif;
}

.speech-gen .speech-gen__generated-phrase {

}


.speech-gen .speech-gen__reset {
    display: inline-block;
    background-color: #f1a42e;
    box-sizing: border-box;
    padding: 3px 17px;
    height: 28px;
    font: normal 13px / 1.53846154 Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    border: 1px solid #f1a42e;
    text-decoration: none;
    color: #ffffff;
}

.speech-gen  .speech-gen__result-note {
    font: normal 16px/22px "KafkaSerifText", "Times New Roman", Times, serif;
    display: block;
    margin-top: 1em;
}

.speech-gen .speech-gen__result-note .note-title {
    border-bottom: 1px solid #ffffff;
    padding: 0 0 .5em 0;
}

.speech-gen .speech-gen__result-note .variant {
    display: none;
    margin-bottom: 1em;
}

.speech-gen .speech-gen__result-note .variant a:hover {
    color: #f1a42e;
}

.speech-gen .show-1 .speech-gen__result-note .vari-1,
.speech-gen .show-2 .speech-gen__result-note .vari-2,
.speech-gen .show-3 .speech-gen__result-note .vari-3,
.speech-gen .show-4 .speech-gen__result-note .vari-4,
.speech-gen .show-5 .speech-gen__result-note .vari-5 {
    display: block !important;
}
